<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Friends App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
<!--         <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/home/about">About</a>
      </li> -->

      <% if user_signed_in? %>
        <li class="nav-item">
          <a class="nav-link" href="/friends">Friends</a>
        </li>
                <li class="nav-item">
          <%= link_to "Add Friend", new_friend_path, class: "nav-link" %>
        </li>
      <% end %>

    </ul>
<!--     <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->

    <ul class="navbar-nav mr-right my-2 my-lg-0">

      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "My Profile", edit_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "tn btn-outline-primary btn-sm" %>
        </li>
      <% else %>
        <li class="nav-item">
             <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-outline-primary btn-sm my-2 my-sm-0" %>
          </li>

          <li class="nav-item">
            <%= link_to "Sign In", new_user_session_path, class: "btn btn-outline-primary btn-sm my-2 my-sm-0" %>
          </li>
      <% end %>

    </ul>
  </div>
</nav>